<link rel="stylesheet" type="text/css" href="/stylesheets/blogs/new.css">
<div class="container">
    <h1>New post</h1>
    <div class="forms" id="blog_form">
        <%= render :partial => "blog_form" %>
    </div>
    <%= link_to 'Back', blogs_path, :class=>"w3-btn w3-white w3-border w3-border-grey w3-round-large posBack" %>
</div>
