body { background-color: #f1f1f1; color: #333; }

body,td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

.show-content{
    max-width: 100%;
    min-width: 40%;
    float: left;
    margin-top: 4%;
    margin-left: 25%;
    padding: 5%;
    align-content: center;
    color: #4d4d4f;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #fff;
}
.posBack{
    margin-top: 1%;
    float: left;
    align-content: center;
    text-decoration: none;
}

.whitespace{
    margin-left: 5px;
}

.tile{
    padding: 3%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: linear-gradient(to bottom right, #eff4f7 , #e0f0f9);
}

.tile:hover{
    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.by-line{
    
    text-align: left;
    font-family: Palatino, URW Palladio L, serif;
    font-size: 18px;
    line-height: 10px;
}

.blog-up-time{
    float: right;
    font-family: Courier, monospace ;
    font-size: 12px;
    color: #928f8f;
    font-weight: bold;
}
.notice{
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    width: 70%;
    color: #fe7070;
}